.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(122, 122, 122);
    background-color: rgb(43, 43, 43);
    height: 400px;
    width: 50%;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
}

.container_list{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.containerh2{
    background-color: rgb(43, 43, 43);
    position: fixed;
    border-radius: 0px 0px 10px 0px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_search{
    margin-right: 20px;
}


.container_search input{
    border-radius: 5px;
    height: 25px;
    border: none;
    background-color: #888;
    color: white;
    padding-left: 10px;
}


.container_search input::placeholder{
    color: white;
}

h2{
    color: white;
    margin: 10px;
}

.container_item{
    padding: 10px 0;
    background-color: rgb(167, 255, 96);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 5px;
    
}


.container_state{
    display: inline-block;
    width: 15%;
}


.container_loading{
    background-color: transparent;
    border: 2px solid rgb(167, 255, 96);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}



.container_item:hover{
    background-color: rgb(192, 255, 140);
    cursor: pointer;
}


.container_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


.container_list::-webkit-scrollbar {
    width: 10px;
}

.container_list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px; 
}

.container_list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.container_list::-webkit-scrollbar-track {
    background-color: #585858;
    border-radius: 6px;
}