.container{
    position: absolute;
    width: 45%;
    height: 300px;
    left: 25%;
    bottom: 10%;
    border: 1px solid rgb(66, 66, 66);
    background-color: rgba(56, 56, 56, 0.815);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 10px 20px 10px 10px;
}


.container_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    gap: 10px;
}

.container_button button{
    width: 10%;
    height: 40px;
    border-radius: 0px 20px 0px 20px;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    color: black;
    cursor: pointer;
}

.container_button button:hover{
    background-color: transparent;
    color: white;
}

.container_button{
    display: flex;
    justify-content: end;
}
